.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7f6;
}

.main-content {
  flex: 1; /* Ocupa todo o resto da tela */
  padding: 30px;
  overflow-y: auto;
  height: 100vh;
}